<div class="row">
  <div class="col-xs-8">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            {{ user?.username }}
          </td>
          <td>
            {{ user?.firstName }}
          </td>
          <td>
            {{ user?.lastName }}
          </td>
          <td>
            {{ user?.email }}
          </td>
          <td>
            {{ user?.type }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <form class="form" (ngSubmit)="onSubmit()">
      <header>
        <h3 *ngIf="uiMode.add">Create new user</h3>
        <h3 *ngIf="uiMode.edit">Current user</h3>
      </header>
      <app-user-fields-form></app-user-fields-form>
      <div class="form-field form-submit">
        <input class="btn btn-create-user" type="submit" value="Create" />
      </div>
    </form>
  </div>
</div>
