<div class="row">
  <div class="col-xs-8">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" (click)="updateForm(user)">
          <td>
            {{ user?.username }}
          </td>
          <td>
            {{ user?.firstName }}
          </td>
          <td>
            {{ user?.lastName }}
          </td>
          <td>
            {{ user?.email }}
          </td>
          <td>
            {{ user?.type }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <form *ngIf="uiMode !== 2" [formGroup]="userData" class="form">
      <header>
        <h3 *ngIf="uiMode === 0">Create new user</h3>
        <h3 *ngIf="uiMode === 1">{{this.currentUser?.firstName + ' ' + this.currentUser?.lastName}}</h3>
      </header>
      <app-user-fields-form
        [formFields]="userData"
        [currentUser]="currentUser"
      ></app-user-fields-form>
      <div *ngIf="uiMode === 0" class="form-field form-create">
        <input
          class="btn btn-create-user"
          name="create"
          type="submit"
          value="Create"
          (click)="onSubmit()"
        />
      </div>
      <div *ngIf="uiMode === 1" class="form-field form-update">
        <input
          class="btn btn-delete-user"
          name="delete"
          type="submit"
          value="Delete"
          (click)="delete(currentUser)"
        />
        <input
          class="btn btn-update-user"
          name="update"
          type="submit"
          value="Save"
          (click)="save(currentUser)"
        />
      </div>
    </form>
  </div>
</div>
