@import "~normalize.css";

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url(./assets/fonts/HelveticaRegular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.container {
  display: flex;
  max-width: 1024px;
  padding: 30px;
}
